/* Global Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --dark: #303030;
  --light: #FFFFFF;
  --magenta: #F000BC;
  --lime: #ADFF00;
}

p{
    font-size: 20px;
}


@media only screen and (max-width: 760px) {
    .headmark{
        font-size: 12px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }
}



body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


html {
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'Khand';
    scroll-behavior: smooth;
    scroll-padding-top: 2s0px;
}

/* Nav Styling */

.menulogo{
    width: 100vw;
    text-align: center;
    justify-content: center;
}


.left-section {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo {
    width: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-left: 40px; 
}

ul a {
    text-decoration: none;
    font-size: 2rem;
    position: relative;
    padding: .2em;
    color: var(--light);
    margin-right: 50px;
}

ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: var(--magenta);
    height: .15em;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

nav {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 2em;
    position: fixed;
    z-index: 10000;
    width: 100vw;
}

nav.sticky {
    z-index: 10000000;
}

ul a:hover::after{
    width: 100%;
}



/* Burger Styling */

.burger {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    text-align: end;
}

.line{
    /* width: 3em;
    height: .3em;
    background: var(--light); */
    /* margin: .7em; */
    /* border-radius: 20px; */
    transition: .3s ease-in-out;
    margin-top: -3px;
}


@media only screen and (max-width: 1000px) {
    .logo{
        margin-left: 0;
    }


    .burger {
        display: block;
        transition: .3s ease-in-out;
    }

    .burger.active .line:first-child{
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2){
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }

    ul {
        position: absolute;
        right: 0;
        top: 8vh;
        background: var(--dark);
        height: 92vh;
        flex-direction: column;
        text-align: center;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    ul.active {
        transform: translate(0%);
    }
}

@media only screen and (max-width: 760px) {
    ul {
        width: 100%;
    }
}

/* Banner */
.banner{
    width: 100vw;
    margin-top: 30px;
    height: auto;
}

@media only screen and (max-width: 760px) {
    .banner{
        display: none;
    }

    .bannermobile{
            height: 100vh;
            width: 100vw;
            background-image: url("img/waterbanner.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
    }
}

.headline{
    font-family: 'Racing Sans One';
    font-size: 64px;
    padding: 5px;
    padding-left: 30px;
}

.address{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: flex-end;
    padding-left: 5%;
}

.street{
    font-size: 24px;
    line-height: 300%;
    padding-left: 30px;
}

/* Footer */

footer{
    width: 100vw;
    height: auto;
    background-color: var(--lila);
    padding-top: 30px;
    margin-top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--text);
}

#copy{
    font-size: 12px;
    padding: 10px;
}